<div class="d-flex align-items-center justify-content-center" style="height:300px;">
  <div class="text-center">
    <h1>サービス概要</h1>
    　　こちらはヘアカタログレビューサイトです。</br>
         ヘアカタログカットをレビューして共有しませんか？</br>
         またレビュー履歴機能から履歴の髪型をすぐ閲覧できます。</br>
         ぜひレビューをしてみてください!!</br>
  </div>
</div>
