


<div class="d-flex align-items-center justify-content-center" style="height:300px;">
  <div class="text-center">

　　<h3 class="home-text">♪ようこそ♪こちらはヘアカタログのレビューサイトです！</h3>

初めての方は是非会員登録からお願いします。

<div class="btn-wrapper col-2 mx-auto">
    <div class="row">
　　　<%= link_to "Log in", new_customer_session_path, class:"btn btn-info  btn-block mb-3 sign-in"  %>
　　</div>
      <%= link_to "Sign up", new_customer_registration_path, class:"btn btn-success  btn-block sign_up"  %>
</div>
