<div class="container px-5 px-sm-3">
   <div class="row mt-4">
  <div class="col-12">
    <% @reviews.each do |review| %>
      <div class="row mt-4">
         <%if review.image.attached? %>
        <div class="col-sm-4">
          <%= image_tag review.image, size: "200x200" %>

        </div>
         <% end %>
         <div class="cpl-sm-8">
           <div class="mt-2"><%= review.body %></div>
           <%= link_to "削除",admin_review_path( review.id), method: :delete, data: { confirm: "このレビューを削除してもよろしいですか？" }, class: "btn btn-danger" %>
         </div>
      </div>
    <% end %>
  </div>
</div>